<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.demo.mapper.ClassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.demo.model.Classification">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="image_url" property="imageUrl" />
        <result column="to_page" property="toPage" />
        <result column="level" property="level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, image_url, to_page, level
    </sql>

</mapper>
