<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.news.demo.mapper.EnewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.news.demo.model.Enews">
        <id column="e_id" property="eId" />
        <result column="e_code" property="eCode" />
        <result column="e_head" property="eHead" />
        <result column="creat_date" property="creatDate" />
        <result column="e_picturequantity" property="ePicturequantity" />
        <result column="e_pictureUrls" property="ePictureurls" />
        <result column="e_data" property="eData" />
        <result column="e_author" property="eAuthor" />
        <result column="e_origin" property="eOrigin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        e_id, e_code, e_head, creat_date, e_picturequantity, e_pictureUrls, e_data, e_author, e_origin
    </sql>

</mapper>
